@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
body {
    background-image:url(../images/gettyimages-200199027-001-77516efa4fe5d700d23be705ce64c89a3471910c.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1200px;
    
}
h1 {
    text-align: left;
    font-family: "Cal Sans", sans-serif;
    color: rgb(172, 9, 9);
    font-size: 50px;
}
h2 {
    text-align: left;
    color:rgb(172, 9, 9);
}
table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 70%;
}
table, th, td {
    border: 1px solid black;
    border-radius: 5px;
}
h3 {
    margin: 0px 30px;
}
img {
    width: 500px;
}
    